{% extends 'cat/m.html' %}
{% block main_section %}
<div class="navbar-brand-lg ml-5 mt-3 mb-1 mr-5 "  style="background-color: #CD853F;">
  <h2>Main Page</h2>
</div>
<nav class="navbar navbar-expand navbar-light mr-5 ml-5 p-0" style="background-color: #F5DEB3;">
<div class="d-flex bd-highlight" id="navbarsExample05">
  <ul class="navbar-nav ">
    <li class="p-2 bd-highlight">
      <a class="nav-link dropdown-toggle " href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Prices</a>
      <div class="dropdown-menu" aria-labelledby="dropdown05">
        <a class="dropdown-item" href="{% url 'kind_price' 'aproc' %}">AMD PROC</a>
        <a class="dropdown-item" href="{% url 'kind_price' 'iproc' %}">INTEL PROC</a>
        <a class="dropdown-item" href="{% url 'kind_price' 'amb' %}">AMD MB</a>
        <a class="dropdown-item" href="{% url 'kind_price' 'imb' %}">INTEL MB</a>
        <a class="dropdown-item" href="{% url 'kind_price' 'cool' %}">COOLER</a>
        <a class="dropdown-item" href="{% url 'kind_price' 'video' %}">VIDEO</a>
        <a class="dropdown-item" href="{% url 'kind_price' 'mem' %}">MEMORY</a>
        <a class="dropdown-item" href="{% url 'kind_price' 'hdd' %}">HDD</a>
        <a class="dropdown-item" href="{% url 'kind_price' 'ssd' %}">SSD</a>
        <a class="dropdown-item" href="{% url 'kind_price' 'ps' %}">POWERSUPPLY</a>
        <a class="dropdown-item" href="{% url 'kind_price' 'case' %}">CASE</a>
        <a class="dropdown-item" href="{% url 'kind_price' 'wifi' %}">WIFI</a>
        <a class="dropdown-item" href="{% url 'kind_price' 'mon' %}">MONITOR</a>
        <a class="dropdown-item" href="{% url 'kind_price' 'km' %}">KM</a>
      </div>
    </li>
    <li class="p-2 bd-highlight">
      <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sites</a>
      <div class="dropdown-menu" aria-labelledby="dropdown05">
        <a class="dropdown-item" href="{% url 'assembly_page' 'itblok' %}">IT_BLOK</a>
        <a class="dropdown-item" href="{% url 'assembly_page' 'versum' %}">VERSUM</a>
      </div>
    </li>
    <span class="d-flex justify-content-end">
    <li class="d-flex justify-content-end" style="width: 100px;">
      <a class="btn btn-outline-secondary ml-1  mb-1 mr-1" style="background-color: #F5DEB3;" href="admin/">Admin</a>
    </li>
    </span>
    <span class="d-flex justify-content-end">
    <li class="d-flex justify-content-end" style="width: 100px;">
      <a class="btn btn-outline-secondary ml-1  mb-1 mr-1" style="background-color: #F5DEB3;" href="{% url 'main_password2' %}">Admin2</a>
    </li>
    </span>
  </ul>
</div>
</nav>
{% if messages %}
{% for m in messages %}
{{m}}
{% endfor %}
{% endif %}
{% endblock %}
