{% extends 'cat/m.html' %}
{% block main_section %}

<nav class="navbar navbar-expand-lg navbar-dark mb-2 mr-5 ml-5 p-0 text-dark" style="background-color: #CD853F;width: 1290px">
<div class="collapse navbar-collapse" id="navbarsExample05">
  <ul class="navbar-nav mr-auto">
    <li class="navbar-text">
      <a class="btn btn-outline-secondary ml-1  mb-1 mr-1 text-dark" style="background-color: #F5DEB3;" href="{% url 'cat-home' %}">Home</a>
    </li>
    <li class="navbar-text">
      <a class="btn btn-outline-secondary ml-1  mb-1 mr-1 text-dark" style="background-color: #F5DEB3;" href="{% url 'assembly_page' 'itblok' %}">
Computer's_assembly</a>
    </li>
    <li class="navbar-text">
      <a class="btn btn-outline-secondary ml-1  mb-1 mr-1 text-dark" style="background-color: #F5DEB3;" href="{% url 'test_assembly' 1111111 1111111 pc %}">
Test</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-dark " href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h5>Advanced</h5></a>
      <div class="dropdown-menu" aria-labelledby="dropdown05">
        <a class="dropdown-item" href="{% url 'assembly_page' 'itblok' %}">IT_BLOK</a>
        <a class="dropdown-item" href="{% url 'assembly_page' 'versum' %}">VERSUM</a>
        {% if site_price.is_active %}
        <a class="dropdown-item" href="{% url 'assembly_page' pc %}">Reserve</a>
        {% else %}
        <a class="dropdown-item" href="{% url 'assembly_page' pc %}">Activated</a>
        {% endif %}
      </div>
    </li>
    <span>
    <form class="form-inline" method="post" action="">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn-outline-dark text-dark ml-2">Ok</button>
    </form>
    </span>
    <span>
    <form class="form-inline ml-2 p-4" method="post" action="{% url 'assembly' pc %}">
      {% csrf_token %}
     <input class="form-control" name="forall" type="text" style="width: 90px; height:30px">
     <button type="submit" class="btn-outline-dark text-dark ml-2">Procent default for all</button>
    </form>
    </span>
  </ul>
</div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark mb-2 mr-5 ml-5 p-0 text-dark" style="background-color: #DEB887;border: 4px double black;width: 1290px">
<span class="border-right border-dark">
<a class="navbar-text text-dark p-2" style="width: 150px;">Name</a>
</span>
<div class="collapse navbar-collapse" id="navbarsExample05">
  <ul class="navbar-nav">
    <span class="border-right border-dark">
    <li class="navbar-text" style="width: 400px;">
      <a class="nav-item ml-2"></a>
    </li>
    </span>
    <span class="border-right border-dark">
    <li class="navbar-text" style="width: 100px;">
      <a class="nav-item text-dark ml-2">Quantity</a>
    </li>
    </span>
    <span class="border-right border-dark">
    <li class="navbar-text ml-2 text-dark" style="width: 100px;">
      <a class="nav-item">Prime cost</a>
    </li>
    </span>
    <span class="border-right border-dark">
    <li class="navbar-text ml-2 text-dark" style="width: 100px;">
      <a class="nav-item text-dark ml-2">New cost</a>
    </li>
    </span>
    <span class="border-right border-dark">
    <li class="navbar-text" style="width: 100px;">
      <a class="nav-item text-dark ml-2">UA cost</a>
    </li>
    </span>
    <span class="border-right border-dark">
    <li class="navbar-text" style="width: 100px;">
      <a class="nav-item text-dark ml-2">$$$ *1.19</a>
    </li>
    </span>
    <span class="border-right border-dark">
    <li class="navbar-text" style="width: 100px;">
      <a class="nav-item text-dark ml-2">Main Price</a>
    </li>
    </span>
    <span class="border-right border-dark">
    <li class="navbar-text" style="width: 100px;">
      <a class="nav-item text-dark ml-2">Date chg</a>
    </li>
    </span>
  </ul>
</div>
</nav>
{% for d in par %}
<nav class="navbar navbar-expand-lg navbar-dark mb-2 mr-5 ml-5 p-0 text-dark" style="background-color: #DEB887;border: 4px double black;width: 1290px">
<span class="border-right border-dark">
<a class="btn btn-outline-dark text-dark" style="width: 150px;" href="{% url 'assembly_item' pc d.0.0 %}">{{d.0.1}}</a>
</span>
<div class="collapse navbar-collapse" id="navbarsExample05">
  <ul class="navbar-nav">
    <span class="border-right border-dark">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" style="width: 400px;" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{d.0.2.name_parts|truncatechars:40}}</a>
        <div class="dropdown-menu" aria-labelledby="dropdown05">
          {% for l in d.1 %}
          <a class="dropdown-item" href="{% url 'test_assembly' l.pk d.0.0 pc %}">{{l.name_parts|truncatechars:40}}</a>
          {% endfor %}
        </div>
      </li>
    </span>
    <span class="border-right border-dark">
    <li class="navbar-text" style="width: 100px;">
      <a class="nav-item text-dark ml-2">{{d.0.3}}</a>
    </li>
    </span>
    <span class="border-right border-dark">
    <li class="navbar-text ml-2 text-dark" style="width: 100px;">
      <a class="nav-item">{{d.0.4|truncatechars:6}}</a>
    </li>
    </span>
    {% if d.0.2 %}
    <span class="border-right border-dark">
    <li class="navbar-text ml-2 text-dark" style="width: 100px;">
      <form class="form-inline" method="post" id='2' action="{% url 'test_assembly' d.0.2.pk d.0.0 pc %}">
        {% csrf_token %}
        <input class="form-control" name="price" type="text" style="width: 90px; height:30px">
      </form>
    </li>
    </span>
    {% else %}
    <span class="border-right border-dark">
    <li class="navbar-text" style="width: 107px;">
      <a class="nav-item text-dark ml-2">0</a>
    </li>
    </span>
    {% endif %}
    <span class="border-right border-dark">
    <li class="navbar-text" style="width: 100px;">
      <a class="nav-item text-dark ml-2">{{d.0.5|truncatechars:6}}</a>
    </li>
    </span>
    <span class="border-right border-dark">
    <li class="navbar-text" style="width: 100px;">
      <a class="nav-item text-dark ml-2">{{d.0.6|truncatechars:6}}</a>
    </li>
    </span>
    <span class="border-right border-dark">
    <li class="navbar-text" style="width: 100px;">
      <a class="nav-item text-danger ml-2">{{d.0.7|truncatechars:6}}</a>
    </li>
    </span>
    <span class="border-right border-dark">
    <li class="navbar-text" style="width: 100px;">
      <a class="nav-item text-danger ml-2">{{d.0.8|date:"m-d H:i"}}</a>
    </li>
    </span>
  </ul>
</div>
</nav>
{% endfor %}
{% if messages %}
<nav class="navbar navbar-expand-lg navbar-dark  bg-warning mb-2 mr-5 ml-5 p-0 text-dark" style="border: 4px double black;width: 1290px">
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
                <a href="#" class="close"></a>
            </li>
        {% endfor %}
    </ul>
</nav>
{% else %}
<br></br>
{% endif %}
<nav class="navbar navbar-expand-lg navbar-dark mb-2 mr-5 ml-5 p-0 text-dark" style="background-color: #DEB887;border: 4px double black;width: 1290px">
<a class="navbar-text text-dark" style="width: 150px;"></a>
<div class="collapse navbar-collapse" id="navbarsExample05">
  <ul class="navbar-nav">
    <li class="navbar-text" style="width: 400px;">
      <a class="nav-item ml-2"></a>
    </li>
    <li class="navbar-text" style="width: 100px;">
      <a class="nav-item text-dark">Price to site $</a>
    </li>
    <li class="navbar-text ml-3 text-dark" style="width: 100px;">
      <a class="nav-item">$</a>
    </li>
    <li class="navbar-text ml-2" style="width: 100px;">
      <a class="nav-item text-dark ml-2">New</a>
    </li>
    <li class="navbar-text ml-2" style="width: 100px;">
      <a class="nav-item text-dark ml-2">UA</a>
    </li>
    <li class="navbar-text ml-2" style="width: 100px;">
      <a class="nav-item text-dark ml-2">%</a>
    </li>
    <li class="navbar-text" style="width: 100px;">
      <a class="nav-item text-dark">Price on site</a>
    </li>
  </ul>
</div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark mb-2 mr-5 ml-5 p-0 text-dark" style="background-color: #CD853F;border: 4px double black;width: 1290px">
<span class="border-right border-dark">
<a class="navbar-text text-dark" style="width: 150px;">Summa</a>
</span>
<div class="collapse navbar-collapse" id="navbarsExample05">
  <ul class="navbar-nav">
    <span class="border-right border-dark">
    <li class="navbar-text" style="width: 400px;">
      <a class="nav-item ml-2"></a>
    </li>
    </span>
    <span class="border-right border-dark">
    <li class="navbar-text" style="width: 100px;">
      <a class="nav-item text-dark ml-2">{{par2.3|truncatechars:6}}</a>
    </li>
    </span>
    <span class="border-right border-dark">
    <li class="navbar-text ml-2 text-dark" style="width: 100px;">
      <a class="nav-item">{{par2.0|truncatechars:6}}</a>
    </li>
    </span>
    <span class="border-right border-dark">
      <li class="navbar-text ml-2 text-dark" style="width: 100px;">
        <form class="form-inline" method="post" id='2' action="{% url 'test_assembly' 2222222 2222222 pc %}">
          {% csrf_token %}
          <input class="form-control" name="price" type="text" style="width: 90px; height:30px">
        </form>
      </li>
    </span>
    <span class="border-right border-dark">
    <li class="navbar-text" style="width: 100px;">
      <a class="nav-item text-dark ml-2">{{par2.1|truncatechars:6}}</a>
    </li>
    </span>
    <span class="border-right border-dark">
    <li class="navbar-text" style="width: 100px;">
      <a class="nav-item text-dark ml-2">{{par2.2|truncatechars:6}}</a>
    </li>
    </span>
    <span class="border-right border-dark">
    <li class="navbar-text" style="width: 100px;">
      {% if site_price.price_computers %}
      <a class="nav-item text-dark ml-2">{{site_price.price_computers|truncatechars:6}}</a>
      {% endif %}
    </li>
    </span>
    <span class="border-right border-dark">
    <li class="navbar-text">
      {% if site_price.url_computers %}
      <a class="btn text-warning" href="{{site_price.url_computers}}">To Site</a>
      {% endif %}
    </li>
    </span>
  </ul>
</div>
</nav>
{% endblock %}
