{% extends "admin/delete_confirmation.html" %}catch_to_admin_forms

{% block content_title %}
  <h1><strong>Компьютерный калькулятор или замена комплектующих</strong>


{% endblock %}

{% block breadcrumbs %}
{% endblock %}


{% block content %}
<style>
.box div { width:400px; display:inline-block; }
.box2 div { width:600px; display:inline-block; }
.box_in div { width:100px; display:inline-block; }
.box_in_in div { width:100px; display:inline-block; }
.myfield {width:300px;}
</style>

<div>
  <div class="box">
    <div>
    <form class="form" method="post" action="">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn">Ok</button>
    </form></div>


</div>
</div>

<script>
// Находим поле input по его id
    var inputField = document.getElementById("id_new");

    // Добавляем обработчик события фокуса
    inputField.addEventListener("focus", function(event) {
        // Очищаем значение по умолчанию, если оно равно "Ручной ввод детали"
        if (inputField.value === "Ручной ввод детали") {
            inputField.value = "";
            inputField.style.color = 'black';
        }
    });
</script>

{% endblock %}
