{% extends 'pars/m.html' %}
{% block main_section %}
<div class="navbar-brand-lg ml-5 mt-3 mb-1 mr-5 "  style="background-color: #CD853F;">
  <h2>Uploader</h2>
</div>
{% if messages %}
<nav class="navbar navbar-expand-lg navbar-dark  bg-success mb-2 mr-5 ml-5 p-0 text-dark" style=border: 4px double black;width: 1290px">
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
                <a href="#" class="close"></a>
            </li>
        {% endfor %}
    </ul>
</nav>
{% else %}
<br></br>
{% endif %}

<nav class="navbar navbar-expand-lg navbar-dark mb-2 mr-5 ml-5 p-0 text-dark" style="background-color: #CD853F;width: 360px">
<div class="collapse navbar-collapse" id="navbarsExample05">
      <span>
      <form class="form-inline" method="post" action="">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn-outline-dark text-dark ml-2">Ok</button>
    </form>
    </span>
    </li>
</div>
</nav>

{% endblock %}
